.imgs_Wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.arrows{
  margin:2rem;
  cursor: pointer;
}
.arrows:disabled{
    color:rgb(165, 165, 165);
}
.close_icon_wrapper{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 12%;
    cursor: pointer;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}